html 
  head
    include partials/_head.pug
    link(rel='stylesheet', href='stylesheets/event.css')
  body
    .flex-container
      .flex-row
        .flex-item#banana
          img(src='./images/stickers/fusionFest/banana.png', alt='Banana')
        .flex-item#broccoli
          img(src='./images/stickers/fusionFest/broccoli.png', alt='Broccoli')
        .flex-item#cake
          img(src='./images/stickers/fusionFest/cake.png', alt='Cake')
        .flex-item#cheese
          img(src='./images/stickers/fusionFest/cheese.png', alt='Cheese')
        .flex-item#croissant
          img(src='./images/stickers/fusionFest/croissant.png', alt='Croissant')
      .flex-row
        .flex-item#donut
          img(src='./images/stickers/fusionFest/donut.png', alt='Donut')
        .flex-item#icecream
          img(src='./images/stickers/fusionFest/icecream.png', alt='Ice cream')
        .flex-item#lemon
          img(src='./images/stickers/fusionFest/lemon.png', alt='Lemon')
        .flex-item#pineapple
          img(src='./images/stickers/fusionFest/pineapple.png', alt='Pineapple')
        .flex-item#pizza
          img(src='./images/stickers/fusionFest/pizza.png', alt='Pizza')
    footer
      p Stickers made by <a href="https://www.flaticon.com/authors/stickers">Stickers</a>, <a href="https://www.flaticon.com/authors/gohsantosadrive">Gohsantosadrive</a>, <a href="https://www.flaticon.com/authors/mihimihi">Mihimihi</a>, <a href="https://www.flaticon.com/authors/jocularityart">jocularityart</a>, and <a href="https://www.flaticon.com/authors/ina-mella">Ina Mella</a> from <a href="https://www.flaticon.com/">Flaticon</a>
    